.slicknav_menu
{
	display: none;
}

@media screen and (max-width: 768px){

	.container{
		margin: 0 auto;
		height: auto;
		width: 95%;
	}

	#menu{
		display: none;
	}

	.slicknav_menu
	{
		display: block;
		position: fixed;
		background:rgba(0,0,0,0);
		z-index: 1000;
		right: 0px;
	}

	a.slicknav_btn
	{
		background-color: #0e5b9a;
		margin: 35px 30px 0 0;
	}

	.slicknav_nav
	{
		background: #0e5b9a;
		width: 200px;
	}

	.slicknav_nav li
	{
		margin: 0;
		padding:0;
		width: 200px;
		border-bottom: 1px solid #2e4155;
		border-top: 1px solid #3d5267;
		text-align: center;
	}

	.slicknav_nav li a
	{
		margin: 0;
		padding:0;
	}

	.slicknav_nav li a:hover
	{
		color: #e74c3c;
		background-color: rgba(0,0,0,0);
	}

	.header-right
	{
		display: none;
	}

	.header-textbox
	{
		display: none;
	}

	.header-bg{
		position: relative;
		top: -30px;
	}

	.header-textbox-mb{
		display: inline-block;
		position: relative;
		width: 538px;
		top: -240px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 15px 30px;
		border: 1px solid #fff;
	}

	/* NEWS */

	.news{
		position: relative;
		top: -50px;
		border: 0.1px solid grey;
		height: 350px;
		margin: -100px 0 10px 0;
	}

	.blog-pages{
		text-align: center;
		width: 560px;
	}

	.blog-pages a{
		font-size: 15px;
	}

	.blog-pages a.links-image{
		position: relative;
		top: 250px;
	}


	.posts-list li{
		width: 440px;
		position: relative;
		left: -200px;
		top: 40px;
		display: block;
		padding-bottom: 8px;
		border-bottom: 1px dotted red;
	}

	.posts-list span.date{
		display: block;
	}

	/* ABOUT */


	.about-construction-content ul li{
		display: inline-block;
		width: 200px;
		margin-left: 24px;
	}

	.about-construction-content a{
		left: 10px;
	}

	.about-construction-content ul li p{
		left: 14px;
	}

	.about-construction-header .construction-en{
		font-size: 15px;
	}

	/* EMPLOYEE */
	.employee-text{
		text-align: center;
		position: relative;
		top: -380px;
	}

	.employee-text-bold p{
		margin-left: 36px;
		display: block;
		width: 100%;
		line-height: 36px;
	}

	.employee-text-bold img.alsok{
		width: 100%;
	}

	.employee-content img:first-child{
		position: relative;
		top: 340px;
		width: 100%;
	}

	.employee img.poster-content{
		position: relative;
		top: 100px;
		left: 80px;
	}

	/* NEAR FOOTER */
	.footer-bg
	{
		width: 100%;	
		height: 500px;
		position: relative;
		top: -80px;
	}
	.contact-footer{
		text-align: center;
		display: block;
		left: 0px;
		width: 100%
	}

	.footer-textbox{
		position: relative;
		top: -480px;
	}

	.textbox{
		position: relative;
		top: -430px;
	}

	.contact-footer{
		position: relative;
		top: -400px;
		width: 100%;
	}

	.contact-footer p.envelope{
		position: relative;
		top: 80px;
		margin-left: 430px;
		margin-right: auto;
		display: block;
	}

	/* CONTACT FOOTER */
	.footer-textbox{
		margin-top: -50px;
	}

	.contact-footer span.phone-number-footer{
		font-size: 45px;
	}

	.phone-number-introduce-footer{
		font-size: 15px;
	}

	.contact-footer img.phone-white{
		width: 45px;
		height: 45px;
	}

	.contact-footer p.envelope{
		width: 350px;
		right: 250px;
		font-size: 22px;
	}

	/* FOOTER */
	.footer-menu{
		position: relative;
		top: -290px;
		height: 200px;
	}

	footer{
		position: relative;
		top: -280px;
	}


}